<!DOCTYPE html>
<html>
    <%- include("../partials/head", {title: "Login", style: ["login"]}) %>
    <body>
        <%- include("../partials/header") %>
        <main class="sesion">
            <p class="titulo-sesion">Iniciá sesión</p>
            <form action="/" method="GET">
                
                <div class="sesion-users">
                    <label for="users">Nombre de Usuario</label>
                    <input type="text" name="users" id="users" required=require>
                </div>

                <div class="sesion-password">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" required=require>
                </div>

               
                <div class="sesion-buttom">
                    <button type="submit">Enviar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>