<footer>
    <div class="footer-container">
        <img src="/images/Logo-Home-Blanco.png" alt="Logo" width=100px>
        <section class="footer-social-media">
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </section>
    </div>
    <div class="copyright">
        <p>Copyright © 2020-2021 E-Morfi S.R.L.</p>
    </div>
</footer>