<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
        <div class="navbar-center">
            <ul>
                <li class="navbar-option"><a href="#">Productos</a></li>
                <li class="navbar-option"><a href="#">Recetas</a></li>
                <li class="logo"><a href="/"><img src="/images/Logo-Home-Blanco.png" alt="Logo"></a></li>
                <li class="navbar-option"><a href="#">Sobre Nosotros</a></li>
                <li class="navbar-option"><a href="#">Contactate</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <a href="/account/login"><i class="fas fa-user-circle"></i></a>
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>        
</header>