<header>
    <nav class="general">    
    <!-- Menú hamburguesa -->
    <input type="checkbox" id="hamburgerBotoon">
    <label for="hamburgerBotoon"><img src="/images/icono-menu.png" alt=""></label>
    <link rel="stylesheet" href="main.css">

  
 <!--       <div class="navbar-left">
            <a href="#"><i class="fas fa-bars"></i></a>     
        </div>      -->
        
            <ul class="navbar-left">
                <li><a href="/"><img src="/images/Logo-Home-Blanco.png" alt="Logo" width=80px></a></li>
                <li><a href="./login">Login</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="./cart">Carrito</a></li>         
                <li><a href="#">Recetas</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contactate</a></li>
            </ul>
        

        <div class="navbar-center">
            <ul>
                <li class="navbar-option"><a href="#">Sobre Nosotros</a></li>
                <li class="navbar-option"><a href="#">Promociones</a></li>
                <li class="logo"><a href="/"><img src="/images/Logo-Home-Blanco.png" alt="Logo"></a></li>
                <li class="navbar-option"><a href="#">Recetas</a></li>
                <li class="navbar-option"><a href="#">Contactate</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <a href="./login"><i class="fas fa-user-circle"></i></a>
            <a href="./cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
</nav>  
</header>