<!DOCTYPE html>

<head>
    <title>E-Morfi</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> 
</head>
<body>
    <header>
        <img src="/images/logo.jpg" alt="Logo" width=200px>
        <br/>
        <h1>Sobre Nosotros</h1>
        <h1>Promociones</h1> 
        <h1>Recetas</h1>
        <h1>Contacto</h1>
    </header>
    
</body>
</html>