<!DOCTYPE html>
<html>
    <head>
        <title>E-Morfi</title>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width,initial-scale=1">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="navbar-center">
                    <ul>
                        <li class="navbar-option"><a href="#">Sobre Nosotros</a></li>
                        <li class="navbar-option"><a href="#">Promociones</a></li>
                        <li class="logo"><a href="/"><img src="/images/Logo-Home-Blanco.png" alt="Logo"></a></li>
                        <li class="navbar-option"><a href="#">Recetas</a></li>
                        <li class="navbar-option"><a href="#">Contactate</a></li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <a href="./login"><i class="fas fa-user-circle"></i></a>
                    <a href="./cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </nav>        
        </header>
        <main>
            <div class="banner-container">
                <section class="banner-titles">
                    <h1>Comé Rico</h1>
                    <h3>100% PRODUCTOS ORGÁNICOS</h3>
                </section>
                <img src="/images/images.jpeg" alt="Logo" width=100px>
                <section class="banner-info">
                    <h2>50% OFF</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eveniet cupiditate natus laboriosam quasi molestiae accusamus.</p>
                </section>
            </div>

        <div class="slider_food">
            <ul>
                <li><img src="/images/imagen1.jpeg" alt=""></li>
                <li><img src="/images/imagen2.jpeg" alt=""></li>
                <li><img src="/images/imagen3.jpeg" alt=""></li>
                <li><img src="/images/imagen4.jpeg" alt=""></li>
            </ul>
        </div>






            <div class="destacados">
                <h2 class="destacados-title">Productos Destacados</h2>
                <div class="product-container">
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <img src="/images/Logo-Home-Blanco.png" alt="Logo" width=100px>
                <section class="footer-social-media">
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </section>
            </div>
            <div class="copyright">
                <p>Copyright © 2020-2021 E-Morfi S.R.L.</p>
            </div>
        </footer>
    </body>
</html>