<!DOCTYPE html>
<html>
    <%- include("./partials/head", {style: "index"}) %>
    <body>
        <%- include("./partials/header") %>
        <main>
            <div class="banner-container">
                <section class="banner-titles">
                    <h1>Comé Rico</h1>
                    <h3>100% PRODUCTOS ORGÁNICOS</h3>
                </section>
                <img src="/images/images.jpeg" alt="Logo" width=100px>
                <section class="banner-info">
                    <h2>50% OFF</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eveniet cupiditate natus laboriosam quasi molestiae accusamus.</p>
                </section>
            </div>
            <div class="destacados">
                <h2 class="destacados-title">Productos Destacados</h2>
                <div class="product-container">
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                    <a href="./producto"><article class="product">
                        <img src="/images/chocolatada.png">
                        <div class="product-info">
                            <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                            <p class="price">$1.738</p>
                            <p class="discount">10% OFF</p>
                        </div>
                    </article></a>
                </div>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>