<!DOCTYPE html>

<head>
    <title>E-Morfi</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> 
        <meta name="viewport"content="width=device-width,initial-scale=1">
</head>
<body>
    <header>
        <img src="/images/logo.jpg" alt="Logo" width=200px>
        <br/>
        
        <nav>
            
        <h2><a/href="#">Sobre Nosotros</a></h2>
        <h2><a/href="#">Promociones</a></h2>
        <h2><a/href="#">Recetas</a></h2>
        <h2><a/href="#">Contacto</a></h2>
        </nav>    
        
        <p1>
            OFERTAS
        </p1>
        
        <div class="container">
            
            <ul class="slider">
                <li id="slide1"> 
                    <img src="/images/imagen1.jpeg"/>
                </li>
                <li id="slide2"> 
                    <img src="/images/imagen2.jpeg"/>
                </li>
                <li id="slide3"> 
                    <img src="/images/imagen3.jpeg"/>
                </li>
                <li id="slide4"> 
                    <img src="/images/imagen4.jpeg"/>
                </li>
                <li id="slide5"> 
                    <img src="/images/imagen5.jpeg"/>
                </li>
            </ul>
            <ul class="menu">
                <li>
                    <a href="#slide1">1</a>
                    <p2>Papas gratis</p2>
                </li>
                <li>
                    <a href="#slide2">2</a>
                    <p2>Bebida a eleccioón gratis</p2>
                </li>
                <li>
                    <a href="#slide3">3</a>
                    <p2>Elegí tu salsa gratis</p2>
                </li>
                <li>
                    <a href="#slide4">4</a>
                    <p2>Pagando en efectivo 20% de descuento</p2>
                </li>
                <li>
                    <a href="#slide5">5</a>
                    <p2>15% de descuento en tu próxima compra</p2>
                </li>
            </ul>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <p1>Productos Destacados</p1>
    <section class = "products">
        <article class= "product product1">
            <img src="/images/imagen1.jpeg" width="100" alt="" />
            <h3>Lorem ipsum 1</h3>
            <p>$250</p>
        </article>
        <article class="product product2">
            <img src="/images/imagen2.jpeg" width="100" alt="" />
            <h3>Lorem ipsum 2</h3>
            <p>$300</p>
        </article>
        <article class="product product3">
            <img src="/images/imagen3.jpeg" width="100" alt="" />
            <h3>Lorem ipsum 3</h3>
            <p>$400</p>
        </article>
        <article class="product product4">
            <img src="/images/imagen4.jpeg" width="100" alt="" />
            <h3>Lorem ipsum 4</h3>
            <p>$180</p>
        </article>
        <article class="product product5">
            <img src="/images/imagen5.jpeg" width="100" alt="" />
            <h3>Lorem ipsum 5</h3>
            <p>$410</p>
        </article>
            
        
    </section>
            
    </header>
    
</body>
</html>