<!DOCTYPE html>
<html>
    <head>
        <title>Producto | E-Morfi</title>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width,initial-scale=1">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="navbar-center">
                    <ul>
                        <li class="navbar-option"><a href="#">Sobre Nosotros</a></li>
                        <li class="navbar-option"><a href="#">Promociones</a></li>
                        <li class="logo"><a href="/"><img src="/images/Logo-Home-Blanco.png" alt="Logo"></a></li>
                        <li class="navbar-option"><a href="#">Recetas</a></li>
                        <li class="navbar-option"><a href="#">Contactate</a></li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <a href="./login.html"><i class="fas fa-user-circle"></i></a>
                    <a href="./productCart.html"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </nav>        
        </header>
        <main>
            <div class="product-detail">
                <div class="product-container">
                    <section class="product-images">
                        <img src="/images/imagen1.jpeg" width="300px">
                        <div class="thumbnails">
                            <img src="/images/imagen1.jpeg" width="100">
                            <img src="/images/imagen1.jpeg" width="100">
                        </div>
                    </section>
                    <section class="product-info">
                        <h3 class="product-name">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                        <h2 class="price">$1.738</p>
                        <h4 class="discount">10% OFF</p>
                        <h4 class="buy">Agregar al carro</p>
                    </section>
                </div>
                <div class="product-description">
                    <p>Semilla de chia con jugo de fruta.</p>
                    <ul>
                        <li>Rica en Omega 3, 6 y 9</li>
                        <li>Rica en fibras</li>
                        <li>Antioxidante</li>
                        <li>Hidratante y energizante</li>
                    </ul>
                </div>
            </div>

            <!-- <h2 class="destacados-title">Productos Destacados</h2>
            <div class="product-container">
                <article class="product">
                    <img src="/images/imagen1.jpeg" width="400">
                    <div class="product-info">
                        <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                        <p class="price">$1.738</p>
                        <p class="discount">10% OFF</p>
                    </div>
                </article>
                <article class="product">
                    <img src="/images/imagen2.jpeg" width="400">
                    <div class="product-info">
                        <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                        <p class="price">$1.738</p>
                        <p class="discount">10% OFF</p>
                    </div>
                </article>
                <article class="product">
                    <img src="/images/imagen3.jpeg" width="400">
                    <div class="product-info">
                        <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                        <p class="price">$1.738</p>
                        <p class="discount">10% OFF</p>
                    </div>
                </article>
                <article class="product">
                    <img src="/images/imagen4.jpeg" width="400">
                    <div class="product-info">
                        <p class="description">x12 Jugo Natural Sin TACC Naranja Durazno 250ml Chia Graal</p>
                        <p class="price">$1.738</p>
                        <p class="discount">10% OFF</p>
                    </div>
                </article>
            </div> -->
        </main>
        <footer>
            <div class="footer-container">
                <img src="/images/Logo-Home-Blanco.png" alt="Logo" width=100px>
                <section class="footer-social-media">
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </section>
            </div>
            <div class="copyright">
                <p>Copyright © 2020-2021 E-Morfi S.R.L.</p>
            </div>
        </footer>
    </body>
</html>