/* Paleta de colores
Rojo        #ab0616
Rosa        #c75c67
Turquesa    #1a808b
Azul oscuro #182837
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1a808b;
}
    header a {
        color: #ffffff;
        text-decoration: none;
    }
    header a:hover {
        color: #182837;
        font-weight: bold;
    }
    .navbar {
        display: flex;
        max-width: 950px;
        height: 120px;
        justify-content: center;
        color: #ffffff;
        margin: 0 auto;
    }
        .navbar-left {
            width: 24%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .navbar-left i {
                display: block;
                font-size: 26px;
            }
        .navbar-center {
            width: 46%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .navbar-center ul {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
            }
            .logo {
                display: block;
                width: 100%;
                text-align: center;
            }
            .logo img:hover {
                width: 160px;
            }
            .navbar-center img {
                width: 140px;
            }
            .navbar-option {
                display: none;
                text-decoration: none;
                padding: 5px;
            }
        .navbar-right {
            width: 24%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .navbar-right i {
                display: block;
                padding: 10px;
                font-size: 26px;
            }

main {
    margin-top: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
    .banner-container {
        color: #666666;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .banner-titles {
            margin-bottom: 20px;
        }
            .banner-container h1 {
                color: #1a808b;
                font-size: 4em;
                font-weight: lighter;
                line-height: 10px;
            }
            .banner-container h3 {
                font-weight: lighter;
            }
        .banner-info{
            margin-top: 20px;
        }
            .banner-container h2 {
                font-weight: bold;
            }
            
            .banner-container p {
                color: #333333;
                max-width: 300px;
            }

    .destacados-title {
        color: #182837;
        text-align: center;
        margin-top: 20px;
    }
    .destacados .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #182837;
        margin-top: 20px;
        padding: 40px;
    }
        .destacados .product {
            background-color: #ffffff;
            margin: 10px;
            width: 350px;
        }
            .destacados .product img {
                width: 100%;
            }
            .destacados .product-info {
                display: flex;
                flex-wrap: wrap;
                border-top: solid 1px #ebebeb;
                padding: 15px;
                text-align: left;
                position: relative;
            }
            .destacados .price {
                font-size: 18px;
                font-weight: bold;
                color: #c75c67;
                width: 30%;
            }
            .destacados .discount {
                font-size: 16px;
                color: #39b54a;
                width: 70%;
            }
            .destacados .description {
                font-size: 16px;
                color: #666;
                margin-top: 10px;
            }
    .product-detail{
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 0 auto;
        padding: 20px;
    }
        .product-detail .product-container {
            display: flex;
            flex-direction: column;
        }
            .product-detail .product-images {
                display: flex;
                flex-direction: column;
            }
                .product-images .thumbnails {
                    display: flex;
                    flex-direction: row;
                }
            .product-detail .product-info {
                text-align: left;
                padding: 20px;
            }
                .product-info .product-name {
                    font-weight: normal;
                    padding-bottom: 10px;
                }
                .product-info .price {
                    color: #c75c67;
                    padding-bottom: 5px;
                }
                .product-info .discount {
                    color: #39b54a;
                    padding-bottom: 10px;
                }
                .product-info .buy {
                    font-size: 16px;
                    font-weight: normal;
                    border: #ab0616;
                    background-color: #ab0616;
                    color: #ffffff;
                    padding: 15px;
                    width: 150px;
                    text-align: center;
                }
        .product-detail .product-description {
            margin-top: 10px;
            padding: 10px 20px;
            border-top: solid 1px #666666;
            text-align: left;
        }

footer {
    background-color: #c75c67;
    color: #ffffff;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: 110px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
    footer a {
        color: #ffffff;
        text-decoration: none;
    }
    footer a:hover {
        color: #182837;
        font-weight: bold;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 5px;
    }
        .footer-social-media {
            display: flex;
            justify-content: center;
        }
            .footer-social-media i {
                font-size: 30px;
                padding: 3px 10px;
            }
    footer .copyright {
        text-align: center;
        font-size: 14px;
        font-weight: lighter;
    }

.register-name, .register-users, .register-fone, .register-birthday, .register-address, .register-info, .register-password, .register-confirm, .register-buttom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    transition: 1.5s;
    height: 80%;
}
.register-name :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}

.register-users :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-fone :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-fone :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-birthday :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-address :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-info :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-password :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-confirm :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-buttom :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register div{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
.sesion div{
    text-align: center;
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;
}
.titulo-sesion{
    color:#1a808b;
    font-size:250%;
}
.sesion-users, .sesion-password, .sesion-buttom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 1.0s;
    height: 120%;

}
.sesion-users :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.sesion-password :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.sesion-buttom :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}

@media (min-width: 500px){
    .navbar-left {
        width: 30%;
    }
        .navbar-left i {
            font-size: 35px;
        }
    .navbar-center {
        width: 40%;
    }
    .navbar-center img {
        width: 200px;
    }
    .logo img:hover {
        width: 220px;
    }
    .navbar-right {
        width: 30%;
    }
        .navbar-right i {
            font-size: 35px;
        }
}
@media (min-width: 820px){
    .navbar-left {
        width: 12%;
        justify-content: flex-end;
        padding-right: 15px;
    }
    .navbar-left i {
        display: none;
    }
    .navbar-center {
        width: 76%;
    }
    .logo {
        width: 40%;
    }
    .navbar-option{
        display: block;
        width: 15%
    }
    .navbar-right {
        width: 12%;
        justify-content: flex-start;
        padding-left: 15px;
    }
        .navbar-right i {
            font-size: 20px;
        }
    .product-detail {
        width: 100%;
        max-width: 900px;
    }
    .product-detail .product-container {
        flex-direction: row;
    }
}
@media (min-width: 1180px){
    .destacados .product-container {
        flex-wrap: nowrap;
    }
}
