/* Paleta de colores
Rojo        #ab0616
Rosa        #c75c67
Turquesa    #1a808b
Azul oscuro #182837
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1a808b;
}
    header a {
        color: #ffffff;
        text-decoration: none;
    }
    header a:hover {
        color: #182837;
        font-weight: bold;
    }
    .navbar {
        display: flex;
        max-width: 950px;
        height: 150px;
        justify-content: center;
        color: #ffffff;
        margin: 0 auto;
    }
        .navbar-left {
            width: 10%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
            .navbar-left i {
                display: block;
            }
        .navbar-center {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .navbar-center ul {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
            }
            .logo {
                display: block;
                width: 100%;
                text-align: center;
            }
            .navbar-option {
                display: none;
                text-decoration: none;
                padding: 5px;
            }
        .navbar-right {
            width: 10%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
            .navbar-right i {
                display: block;
            }

main {
    margin-top: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
    .banner-container {
        color: #666666;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .banner-titles {
            margin-bottom: 20px;
        }
            .banner-container h1 {
                color: #1a808b;
                font-size: 4em;
                font-weight: lighter;
                line-height: 10px;
            }
            .banner-container h3 {
                font-weight: lighter;
            }
        .banner-info{
            margin-top: 20px;
        }
            .banner-container h2 {
                font-weight: bold;
            }
            
            .banner-container p {
                color: #333333;
                max-width: 300px;
            }

    .destacados-title {
        color: #182837;
        text-align: center;
        margin-top: 20px;
    }
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #182837;
        margin-top: 20px;
        padding: 40px;
    }
        .product {
            background-color: #ffffff;
            margin: 10px;
            width: 350px;
        }
            .product img {
                width: 100%;
            }
            .product-info {
                display: flex;
                flex-wrap: wrap;
                border-top: solid 1px #ebebeb;
                padding: 15px;
                text-align: left;
                position: relative;
            }
            .price {
                font-size: 18px;
                font-weight: bold;
                color: #c75c67;
                width: 30%;
            }
            .discount {
                font-size: 16px;
                color: #39b54a;
                width: 70%;
            }
            .description {
                font-size: 16px;
                color: #666;
                margin-top: 10px;
            }

footer {
    background-color: #c75c67;
    color: #ffffff;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
        margin-top: 5px;
    }
    footer .copyright {
        text-align: center;
    }

@media (min-width: 481px){

}
@media (min-width: 769px){
    .navbar-left {
        padding-right: 15px;
    }
    .navbar-left i {
        display: none;
    }
    .logo {
        width: 40%;
    }
    .navbar-option{
        display: block;
        width: 15%
    }
    .navbar-right {
        padding-left: 15px;
    }
}
@media (min-width: 1280px){

}
.register-name, .register-fone, .register-birthday, .register-address, .register-info, .register-password, .register-confirm, .register-buttom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    transition: 1.5s;
    height: 80%;
}
.register-name :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-fone :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-fone :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-birthday :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-address :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-info :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-password :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-confirm :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register-buttom :hover{
    box-shadow: 5px 5px 5px #c75c67;
    background-color:#182837;
    color:white;
}
.register div{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}