/* Paleta de colores
Rojo        #ab0616
Rosa        #c75c67
Turquesa    #1a808b
Azul oscuro #182837
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 100vh; /*Estas dos son para que el footer abajo de todo aún si el contenido no llega al fondo.*/
}

main {
    margin-top: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    padding-bottom: 160px; /*Acomoda el espacio fijo del footer.*/
}

@media (min-width: 500px){
    main {
        padding-bottom: 80px;
    }
}
@media (min-width: 820px){

}
@media (min-width: 1280px){

}

.slider_food{
    width:50%;
    margin: auto;
    overflow: hidden; /*para que se oculte lo que sobre sale*/
}

.slider_food ul{
    display: flex;
    padding:0;
    width: 400%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;

}
.slider_food li{
    width: 100%;
    list-style: none;
}

.slider_food img{
    width:100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}